<div *ngIf="cardService.card; else loading">
  <h1 mat-dialog-title>
    <i class="fa fa-list-alt" aria-hidden="true"></i>
    <label for="title" class="titleLabel">Title: </label>
    <br />
    <input value="{{ cardService.card.cardTitle }}" class="titleInput" (blur)="changeTitle(titleInput)" #titleInput />
  </h1>
  <mat-dialog-content class="mat-typography">
    <i class="fa fa-list" aria-hidden="true"></i>
    <label for="description" class="label">Description: </label>
    <br />
    <textarea class="descriptionInputs" #descriptionInput value="{{ cardService.card.description }}"
      (blur)="changeDescription(descriptionInput)" (keyup)="textareaResize(descriptionInput)"
      placeholder="Add a more detailed description…" (keyup.enter)="changeDescription(descriptionInput)">
    </textarea>

    <br />
    <i class="fa fa-comments-o" aria-hidden="true"></i>
    <label for="comment" class="label">Add Comment: </label>
    <br />
    <input id="comment" #inputComment class="commentInputs" autocomplete="off" placeholder="Write a comment..."
      (keyup.enter)="addComment(inputComment)" />
    <button class="commentBtn" [disabled]="!inputComment.value" (click)="addComment(inputComment)">
      Save
    </button>
    <br />
    <i class="fa fa-list-ul" aria-hidden="true"></i>
    <label for="Activity" class="label">Activity: </label>
    <br />
    <div *ngFor="let comment of cardService.card.comments">
      <textarea #activityEdit class="activityComment" value="{{ comment.comment }}" [disabled]="comment.id !== flag"></textarea>
      <button class="activitySaveBtn" [class.activitySaveBtnAct]="comment.id === flag"
        (click)="activityEditSave(activityEdit, comment.id)">Save</button>
      <button class="activityCancelBtn" [class.activityCancelBtnAct]="comment.id === flag" (click)="flag = -1">
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
      <div *ngIf="comment.id !== flag">
        <span class="editDelete" (click)="flag = comment.id">Edit</span>
        <span class="editDelete" (click)="activityEditDelete(comment.id)">Delete</span>
      </div>
    </div>
  </mat-dialog-content>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>